@model TaCultivoViewModel

<div class="card shadow-lg">
    <div class="card-header bg-info text-white">
        <h3>Detalles del Cultivo</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Nombre Cultivo</dt>
            <dd class="col-sm-9">@Model.NombreCultivo</dd>

            <dt class="col-sm-3">Descripción</dt>
            <dd class="col-sm-9">@Model.Descripcion</dd>

            <dt class="col-sm-3">Fecha Inicio</dt>
            <dd class="col-sm-9">@Model.FechaInicioProyectado.ToShortDateString()</dd>

            <dt class="col-sm-3">Fecha Fin</dt>
            <dd class="col-sm-9">@Model.FechaFinProyectado.ToShortDateString()</dd>

            <dt class="col-sm-3">Distrito</dt>
            <dd class="col-sm-9">@Model.NombreDistrito</dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
    </div>
</div>
